
.addedItems>li:nth-child(2){
  display: flex;
  align-items: center;
  justify-content: center;
}

.addedItems>li>p:first-child{
  width : 20%;
}

.addedItems>li>p:last-child{
  width : 80%;
}

.addedItems>li>p>img{
  width : 80px;
}

.addedItems>li>p:last-child>span{
  display: block;
  padding : 5px 0;
}

.addedItems>li>p:last-child>span:last-child{
  font-size : 12px;
}

/* .addedItems>li:nth-child(4){
  display: flex;
  align-items: center;
  justify-content: center;
} */
.addedItems>li>span{
  width : 13px;
  height : 13px;
  display: block;
  /* background-color: cadetblue; */
  border : 1px solid #000;
  margin : 0 5px;
}

.addedItems button{
  width : 18px;
  height : 18px;
  margin : 0 5px;
}


