.productsList{
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-bottom : 60px;
}

.productsList>figure{
  width:calc(33.3333% - 1em);
  margin: 0 0.5em;
  position:relative;
}

.productsListfigure>a>img{
  margin-bottom : 30px;
}

.productsList>figure>figcaption{
  text-align: center;  

}

.productsList>figure>figcaption a{
  text-decoration: none;
}

.productsList>figure>figcaption>dl dt{
  font-weight: bold;
  color : #242424;
  margin-bottom : 8px;
}

.productsList>figure>figcaption>dl dd{
  color : rgb(216, 67, 41);
  font-weight: bold;
  margin-bottom : 30px;
}