article#products{
  width : 1400px;
  margin: 0 auto;
  padding: 80px 0 35px;
  box-sizing: border-box;
}


article#products>h3{
  text-align: center;
  margin-bottom:50px;
}

article#products>h3>a{
  color : #000;
}

article#products>section>h4{
  width:1100px;
  margin:0 auto 30px;
}

article#products>section>div{
  width : 1200px;
  margin:0 auto 30px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

article#products>section>div>div{
  position: relative;
  width : 94.5px;
  text-align: center;
  border : 1px solid #000;
  padding: 10px 5px;
  box-sizing: border-box;
  cursor: pointer;
  background-color :#202020;
  color: #fff;
}

article#products>section>div>div>ul.sort{
  display: block;
  position: absolute;
  right: -1px;
  top: 34px;
  background-color: #ffffff;
  z-index : 500;
  border:1px solid #000;
  width : 95px;
  text-align: center;
  box-sizing: border-box;
  color: #000;
}

article#products>section>div ul.sort>li{
  padding : 7px;
  border-bottom : 1px solid #000;
}

article#products>section>div ul.sort>li:last-child{
  border: none;
}

div.productsList{
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-bottom : 60px;
}

div.productsList>figure{
  width:calc(33.3333% - 1em);
  margin: 0 0.5em;
  position:relative;
}

div.productsList>figure>a>img{
  margin-bottom : 30px;
}

div.productsList>figure>figcaption{
  text-align: center;  

}

div.productsList>figure>figcaption a{
  text-decoration: none;
}

div.productsList>figure>figcaption>dl dt{
  font-weight: bold;
  color : #242424;
  margin-bottom : 8px;
}

div.productsList>figure>figcaption>dl dd{
  color : rgb(216, 67, 41);
  font-weight: bold;
  margin-bottom : 30px;
}