article{
  width : 1400px;
  margin: 0 auto;
  /* background-color: green; */
  padding: 25px 0;
  box-sizing: border-box;
}


article>h3{
  text-align: center;
  margin-bottom:50px;
}

section>h4{
  width:1100px;
  margin:0 auto 30px;
}

section>div{
  width : 1200px;
  margin:0 auto 30px;
  font-size: 14px;
  /* background-color: gainsboro;; */
}
section>div>div{
  position: relative;
  width : 85px;
  text-align: center;
  border : 1px solid #000;
  padding: 3px;
  box-sizing: border-box;
  cursor: pointer;
}

section>div ul.sort{
  display: block;
  position: absolute;
  right: -1px;
  top: 20px;
  z-index: 300;
  border:1px solid #000;
  width : 85px;
  text-align: center;
  box-sizing: border-box;
}

section>div ul.sort>li{
  padding: 3px;
  border-bottom : 1px solid #000;
}

section>div ul.sort>li:last-child{
  border: none;
}


