article{
  width : 1400px;
  margin: 0 auto;
}

a{
  text-decoration: none;
}

article>h3{
  margin-bottom: 50px;
  font-size: 14px;
  color : #9f9b9b;
}

article>figure{
  width : 80%;
  margin : 0 auto 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /* background-color: skyblue; */
}

article>figure>img{
  width:50%;
}

article>figure>figcaption{
  width:40%;
  margin: 0 25px 0 75px;
  padding-top:27px;
  box-sizing: border-box;
}
article>figure>figcaption>ul>li:first-child{
  font-size : 20px;
  margin-bottom : 15px;
}

article>figure>figcaption>ul>li:last-child>b{
  font-size: 30px;
}
article>figure>figcaption>ul>li:last-child{
  margin-bottom: 40px;
}

article>figure>figcaption>dl.option{
  /* background-color: yellow; */
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  border-top : 1px solid #cfc9c9d5;
  border-bottom : 1px solid #cfc9c9d5;;
  justify-content: space-between;
}

article>figure>figcaption>dl.option>dt{
  /* width:20%; */
  padding:20px 5px;
  width:50%;
  box-sizing: border-box;
}

article>figure>figcaption>dl.option>dt:first-child{
  border-bottom: 1px solid #cfc9c9d5;
}

article>figure>figcaption>dl.option>dd:nth-child(2){
  border-bottom: 1px solid #cfc9c9d5;;
}


article>figure>figcaption>dl.option>dd{
  padding : 20px 5px;
  box-sizing: border-box;
  width:50%;
  text-align: right;
}



section.detail{
  width: 100%;
  /* background-color: red; */
}

section.detail>h4{
  text-align: center;
  font-size: 18px;
  margin-bottom : 40px;
}

section.detail>h4>ul{
  display: flex;
  justify-content: center;
}

section.detail>h4>ul>li{
  cursor: pointer
}

section.detail>h4>ul>li>a{
  color : #000;
}

section.detail>div{
  width : 80%;
}

section#delivery>h4{
  width : 90%;
}

section.review{
  /* background-color: pink; */
  padding : 40px 20px;
  /* background-color: rgb(167, 163, 163); */
}

section.review>h4{
  font-size: 30px;
  text-align: center;
}

section.review>h4>b{
  font-size: 25px;
}

section.review>p{
  /* background-color: pink; */
  text-align: center;
  width : 200px;
  height: 200px;
  margin: 0 auto 30px;
  border : 5px double #000;
  box-sizing: border-box;
  padding : 30px;
}

section.review>p>span{
  display: block;
  font-size: 18px;
  margin-bottom : 50px;
}

section.review>p>span:nth-child(2){
  font-size :40px;
  color : red;
}

section.review>p>span:nth-child(2)>i{
  font-size: 18px;
  color:#000;
}

section.review>div{
  width : 98%;
  justify-content: flex-end;
  position: relative;
}

section.review>div>p{
  width:100px;
  border : 1px solid #3c3737;
  padding: 10px 5px;
  text-align: center;
  box-sizing: border-box;
  background-color: #3c3737;
  color:#fff;
}

section.review>div>ul{
  display: block;
  width : 100px;
  text-align: center;
  position:absolute;
  top:35px;
  right:10px;
}

section.review>div>ul>li{
  box-sizing: border-box;
  padding : 10px 5px;
  width:100%;
  border: 1px solid #000;
  border-top:none;
  z-index: 500;
  background-color: #fff;
}

section.review>div>ul>li:first-child{
  border-top:1px solid #000;
}

